@tailwind base;
@tailwind components;
@tailwind utilities;
body {
	font-family: 'Exo 2', sans-serif;
}

:root {
	max-width: 1360px;
	margin: 0 auto;
	background-color: #010a0f;
	color: white;
}
li {
	list-style: none;
	a {
		font-size: 13px;
	}
	border-right: 1px solid #0f2d37;
}
.logo, .post, .title, .table-head {
	background-color: #001e28;
}
.menu {
	background-color: #010a0f;
}
.link {
	color: #e51b24;
	font-weight: bold;
}
h1, h2 {
	font-weight: bold;
}
.post-button{
	background-color: #0f2d37;
	align-items: center;
	border-radius: 8px;
	display: flex;
   gap: 8px;
   height: 28px;
   padding: 0 12px;
	font-size: 13px;
	font-weight: bold;
}
.post-sub-menu {
	font-size: 10px;
}
.table-line {
	font-size: 13px;
}
.tableLEgend__coloredSquare {
	background-color: rgb(0, 70, 130);
}
.main-tables {
	max-width: 664px;
}