@tailwind base;
@tailwind components;
@tailwind utilities;
body {
	font-family: 'Exo 2', sans-serif;
}

:root {
	max-width: 1360px;
	margin: 0 auto;
	background-color: #010a0f;
	color: white;
}
li {
	list-style: none;
	a {
		font-size: 13px;
	}
	border-right: 1px solid #0f2d37;
}
.logo, .post-menu, .title, .table-head, .latest-scores {
	background-color: #001e28;
}
.menu{
	background-color: #010a0f;
}
.link {
	color: #e51b24;
	font-weight: bold;
}
h1, h2 {
	font-weight: bold;
}
.post-button{
	align-items: center;
	border-radius: 8px;
	display: flex;
   gap: 8px;
   height: 28px;
   padding: 0 12px;
	font-size: 13px;
	font-weight: bold;
}
.post-sub-menu {
	font-size: 10px;
}
.table-line {
	font-size: 13px;
}
.main-tables {
	max-width: 664px;
}
.draw-bracket::after {
	border-right: 1px solid;
	border-color: #000;
	content: "";
	height: 100%;
	position: absolute;
	right: -8px;
	width: calc(100% + 16px);
	z-index: -1;
}
.latest-score-head {
} 
.latest-scores {
	width: 688px;

}
.line-one::after {
	content: "";
	position: absolute;
	left: 97%;
   top: 61%;
	transform: translateY(-50%) rotate(90deg);
	width: 100px;
	height: 1px;
	background-color: white;
}
.line-one::before {
	content: "";
	position: absolute;
	right: -40px;
	top: 40%;
	transform: translateY(-40%);
	width: 40px;
	height: 1px;
	background-color: white;
}
.line-two::before {
	content: "";
	position: absolute;
	right: -40px;
	top: 82%;
	transform: translateY(-40%);
	width: 40px;
	height: 1px;
	background-color: white;
}
.line-tree::before {
	content: "";
	position: absolute;
	right: 267px;
	top: 60%;
	transform: translateY(-40%);
	width: 315px;
	height: 1px;
	background-color: white;
}
.match-details img {
	width: 100%;
	cursor: pointer;
	transition: transform 0.3s ease-in-out;
 }
 
 .match-details img.expanded {
	transform: scale(2); /* Or any scale value you prefer */
 }
 
 .match-details.full-size {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.8);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
 }
 
 .match-details.full-size img {
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 60%;
	cursor: pointer;
 }
 
 .close-button {
	position: absolute;
	top: 20px;
	right: 80px;
	background: none;
	border: none;
	color: white;
	font-size: 3rem;
	cursor: pointer;
	z-index: 1001;
 }
 